@font-face {
  font-family: 'heading';
  src: url('../font/heading.eot');
  src: url('../font/heading.eot?#iefix') format('embedded-opentype'),
       url('../font/heading.woff') format('woff'),
       url('../font/heading.ttf') format('truetype'),
       url('../font/heading.svg#heading') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General */

html, body {
  font-size: 18px;
  line-height: 24px;
}

body {
  margin: 20px auto;
  color: #4D2177;
  background-attachment: fixed;
  background-image: linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -o-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -moz-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -ms-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
}

a {
  color: #006990;
}

.purple {
  color: #4D2177;
}

.green {
  color: #86A20B;
}

.blue {
  color: #006990;
}

.center {
  text-align: center;
}

/* Headings */

.heading {
  text-transform: uppercase;
  font-weight: normal;
  font-family: heading, sans-serif;
}

h1 {
  font-size: 67.5px;
  line-height: 54px;
}

h2 {
  font-size: 45px;
  line-height: 40px;
}

/* Header */

.header {
  margin-bottom: 60px;
}

/* Nav Section */

.nav {
  font-size: 26px;
  line-height: 24px;
}

.nav li {
  margin-bottom: 13px;
}

/* Main Section */

.main .heading, .main p {
  margin: 0 0 30px;
}
