@font-face {
  font-family: 'heading';
  src: url('../font/heading.eot');
  src: url('../font/heading.eot?#iefix') format('embedded-opentype'),
       url('../font/heading.woff') format('woff'),
       url('../font/heading.ttf') format('truetype'),
       url('../font/heading.svg#heading') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 18px;
}

body {
  color: #4D2177;
  background-attachment: fixed;
  background-image: linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -o-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -moz-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -ms-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
}

a {
  color: #006990;
}

.purple {
  color: #4D2177;
}

.green {
  color: #86A20B;
}

.blue {
  color: #006990;
}

.heading {
  text-transform: uppercase;
  font-family: heading, sans-serif;
}

h1 {
  font-size: 67.5px;
  line-height: 54px;
}

h2 {
  font-size: 45px;
}

#header {
  margin-bottom: 40px;
}

#logo {
  margin-top: 20px;
}

#navigation {
  margin-bottom: 20px;
  font-size: 26px;
}

#main .heading, #main p {
  margin: 0 0 20px;
}