@font-face {
  font-family: 'heading';
  src: url('../font/heading.eot');
  src: url('../font/heading.eot?#iefix') format('embedded-opentype'),
       url('../font/heading.woff') format('woff'),
       url('../font/heading.ttf') format('truetype'),
       url('../font/heading.svg#heading') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General */

html, body {
  font-size: 18px;
  height: 100%;
}

body {
  color: #4D2177;
  line-height: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-attachment: fixed;
  background-image: linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -o-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -moz-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
  background-image: -ms-linear-gradient(
    top,
    #fff 0%,
    #eee 100%
  );
}

.purple {
  color: #4D2177;
}

.green {
  color: #86A20B;
}

/* Headings */

.heading {
  text-transform: uppercase;
  font-weight: normal;
  font-family: heading, sans-serif;
}

h1 {
  font-size: 3.375rem;
  line-height: 2.7rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: #006990;
}

.purple {
  color: #4D2177;
}

.green {
  color: #86A20B;
}

.blue {
  color: #006990;
}

/* Headings */

.heading {
  padding-top: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-family: heading, sans-serif;
}

h1 {
  font-size: 3.375rem;
  line-height: 2.7rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

/* Header */

.header {
  margin-bottom: 2rem;
}

/* Nav Section */

.nav {
  font-size: 1.5rem;
  line-height: 1.4rem;
}

.nav li {
  margin-bottom: 0.66rem;
}

/* Main Section */

.main .heading {
  margin: 5rem 0 1rem;
}

.fix {
  position: fixed;
}

.mock {
  height: 113px;
}

/* Single Column */
@media (max-width: 767px), (max-height: 499px) {
  .mock {
    display: none;
  }
  
  .fix {
    position: static;
  }
}
