<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% if page.title %}{{ page.title }} - {% endif %}City of Westminster Scout District
  </title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="google-site-verification" content="4hAhC7cUYxA9KfnPn10lHIowp8Sq4EJZz_Nm7s4MMVQ"/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"/>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24824875-5']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<div class="container">
  <div id="header" class="row">
    <div id="logo" class="col-sm-3">
      <a href="/"><img src="img/logo.png"/></a>
    </div>
    <div class="col-sm-9 hidden-xs">
      <h1 class="heading">
        <span class="purple">City of Westminster</span>
        <span class="green">Scout District</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div id="navigation" class="col-sm-3" role="navigation">
      <ul class="nav nav-pills nav-stacked">
        <li><a class="heading" href="beavers">Beavers</a></li>
        <li><a class="heading" href="cubs">Cubs</a></li>
        <li><a class="heading" href="scouts">Scouts</a></li>
        <li><a class="heading" href="explorers">Explorers</a></li>
        <li><a class="heading" href="events">Events</a></li>
        <li><a class="heading" href="campsite">Campsite</a></li>
      </ul>
    </div>
    <div id="main" class="col-sm-9">
      {{ content }}
    </div>
  </div>
</div>
</body>
</html>
