<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}City of Westminster Scout District
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="4hAhC7cUYxA9KfnPn10lHIowp8Sq4EJZz_Nm7s4MMVQ" />
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="span3">
          <a href="/"><img src="img/logo.png" /></a>
        </div>
        <div class="span9">
          <h1 class="purple heading">City of Westminster</h1>
          <h1 class="green heading">Scout District</h1>
        </div>
      </div>
      <div class="row">
        <ul class="span3 nav nav-pills nav-stacked">
          <li><a class="heading" href="beavers">Beavers</a></li>
          <li><a class="heading" href="cubs">Cubs</a></li>
          <li><a class="heading" href="scouts">Scouts</a></li>
          <li><a class="heading" href="explorers">Explorers</a></li>
          <li><a class="heading" href="events">Events</a></li>
          <li><a class="heading" href="campsite">Campsite</a></li>
        </ul>
        <div class="main span9">
{{ content }}
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24824875-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
